google_credentials_path: "credentials.json"
domain: "example.com"
check_interval_seconds: 3600

# Examples
# - 2024-01-01T00:00:00Z - from January 2024
# - 2024-12-01T00:00:00Z - from December 2024
start_date: "2024-01-01T00:00:00Z"
